<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
<%#= image_tag 'book_yoko_2.png' %>
  <div class='search-bar-contents'>
    <ul class='lists-right'>
      <li><%= link_to 'Reviework', root_path, class: "home-tile" %></li>
    </ul>
    <ul class='category'>
        <li><%= link_to 'アニメ', animes_path, class: "category-name" %></li> 
        <li><%= link_to 'マンガ', mangas_path,class: "category-name" %></li>
        <li><%= link_to 'ゲーム', games_path,class: "category-name" %></li>
        <li><%= link_to '映画', moves_path,class: "category-name" %></li> 
    </ul>


    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, root_path, class: "login" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "sign-up"%> </li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>

      <%end%>
    </ul>
  </div>
</header>