<%# <meta name="viewport" content="width=1400, user-scalable=yes"> %>
<%# width:1250px;　 %>
<%= render "shared/header" %>
<div class='main'>
  <div class='center'>
    <div class='side'>
    左側
    </div>

    <div class='books-floor'>



    <ul class= 'home-name'>
      <% if user_signed_in? %>
        <%= link_to current_user.name, root_path, class: "user-name" %>
          さん　Revieworkにようこそ。
      <% else %>
        <p class='service-explain'>
          Revieworkにようこそ。
        </p>
      <%end%>
    </ul>
      <p class='service-explain'>
        本サイトはアニメ、マンガ、ゲーム、映画に関するレビューサイトです。
      </p>
      <div class= 'book-border'>本棚の枠
        <div class='books-lists-gap'>本棚の隙間</div>
        <div class='books-lists'>
          <div class='books'>
            <li class='book'>感</li>
            <li class='book'>あああああああ</li>

          </div>
          <div class='books'>
            <li class='book'>いいいいいいい</li>
          </div>
          <div class='books'>
            <li class='book'>うう</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
        </div>
        <div class='books-lists-under'>本置くところ</div>
        <div class='books-lists-gap'>本棚の隙間</div>
        <div class='books-lists'>
          <div class='books'>
            <li class='book'>あああああああ</li>
          </div>
          <div class='books'>
            <li class='book'>いいいいいいい</li>
          </div>
          <div class='books'>
            <li class='book'>うう</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>

        </div>
        <div class='books-lists-under'>本置くところ</div>
        <div class='books-lists-gap'>本棚の隙間</div>
        <div class='books-lists'>
          <div class='books'>
            <li class='book'>あああああああ</li>
          </div>
          <div class='books'>
            <li class='book'>いいいいいいい</li>
          </div>
          <div class='books'>
            <li class='book'>うう</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>

        </div>
        <div class='books-lists-under'>本置くところ</div>
        <div class='books-lists-gap'>本棚の隙間</div>
        <div class='books-lists'>
          <div class='books'>
            <li class='book'>あああああああ</li>
          </div>
          <div class='books'>
            <li class='book'>いいいいいいい</li>
          </div>
          <div class='books'>
            <li class='book'>うう</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>

        </div>
        <div class='books-lists-under'>本置くところ</div>
        <div class='books-lists-gap'>本棚の隙間</div>
        <div class='books-lists'>
          <div class='books'>
            <li class='book'>あああああああああファっっファファファ</li>
          </div>
          <div class='books'>
            <li class='book'>いいいいいいい</li>
          </div>
          <div class='books'>
            <li class='book'>うう</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
        </div>
      </div>
    </div>
    <div class='side'>
    右側
    </div>
    <%= link_to(new_page_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>出品する</span>
    <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
  </div>
</div>
<%= render "shared/footer" %>