<%# <meta name="viewport" content="width=1400, user-scalable=yes"> %>
<%# width:1250px;　 %>
<%= render "shared/header" %>
<div class='main'>
  <div class='center'>
    <div class='side-left'>

    </div>

    <div class='books-floor'>
      <ul class= 'home-name'>
        <% if user_signed_in? %>
          <%= link_to current_user.name, root_path, class: "service-explain" %>
          さん　Revieworkにようこそ。
        <% else %>
          <p class='service-explain'>
            Revieworkにようこそ。
          </p>
        <% end %>
      </ul>
      <p class='service-explain'>
        本サイトはアニメ、マンガ、ゲーム、映画に関するレビューサイトです。
      </p>
      
      <div class= 'book-border'>　
        <div class='books-lists-gap'></div>

        <%# 本棚 %>
        <% if @pages.length >= 1  %>
            <div class='books-lists'>
              <% @pages.each_with_index do |page,i| %>
                <%# ①作品の文字数が長い場合の分岐開始位置（Trueは下の場合、それ以上長いばFalseの場合） %>
                <div class='books'>
                  <li class='book'>
                    <%= image_tag 'cool.png' , size: '25x25' %>

                  </li>
                  <%# <li class='book'> %>
                  <%#= page.title %>
                  <%# </li> %>
                  <li class='book-title'><%= link_to page.title, page_path(page.id), method: :get %></li>
                </div>
                <%# else① %>
                <%# ①文字の大きが変わるクラス名に変えたもので上記と同じように記述 %>
                <%# //①作品の文字数が長い場合の分岐終了位置 %>  

<%# i = 0
 while i <= 5 do
  puts "繰り返します"
 i += 1
end
i = 0
 while i <= (テーブル総数の２桁の数繰り返す) do
  その際、初期値12に、毎回12足し、
 i += 1
end %>
                <%# やりたいこと
                レコード数によって、「if文の条件式の数を増やし、増やした条件式の「等しい数」は12されていく記述」
                をつくりたい %>

                <% if i+1 == 12 || i+1 == 24 || i+1 == 36 || i+1 == 48 %>
                <%# if i+1 == (((@page.length/10)%10)*10) + el %>
                <%# 時間を見て式を修正する。 %>
            </div>
              <div class='books-lists-under'>　</div>
              <div class='books-lists-gap'></div>
                  <%# if i+1 == 13 || i+1 == 25 || i+1 == 37 || i+1 == 49 %>
            <div class='books-lists'>
                  <%# end %>
                <% end %>
              <% end %>
            </div>
            <div class='books-lists-under'>　</div>
            <div class='books-lists-gap'></div>
        <% else %>
          <%# 作品ページが無かった場合 %>
        <% end %>
      </div>
    </div>
    <div class='side-right'>
    
    </div>
    <%= link_to(new_page_path, class: 'purchase-btn') do %>
      <span class='purchase-btn-text'></span>
      <%= image_tag '419433.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>