<%= render "shared/header" %>
<div class='main'>
  <div class='top'>
    <div class='title-text'><%= "#{@page.title}　レビュページへようこそ" %></div>
    <div class='title-text'>
      <%= "レビュアーの：#{@page.title}のイメージ"%>
     </div>
     <div class='title-text'>
      <%= image_tag 'cool.png' , size: '110x100' %>
    </div>
         <div class='title-text'>
        ↑ここに感情アイコン画像とユーザーの選択したアイコンの統計を表示予定です。
          </div>
      <% if user_signed_in? %>

        <%# 感情テーブルのレコードが一番多いものを表示 %>
        <%= "#{@max}人のユーザーが#{@max_name}と感じています。" %>

          <%# アイコンクリックカウント %>
          <%#= @like_count = Cr.where(page_id: params[:id]).count %>
          <%#= @like_count = Cool.where(page_id: params[:id]).count %>
          <%#= @like_count = Cute.where(page_id: params[:id]).count %>
          <%#= @like_count = Scared.where(page_id: params[:id]).count %>
          <%#= @like_count = Healing.where(page_id: params[:id]).count %>
          <%#= @like_count = Fun.where(page_id: params[:id]).count %>
          <%#= @like_count = Interesting.where(page_id: params[:id]).count %>
          <%#= @like_count = Thoughtprovoking.where(page_id: params[:id]).count %>

      <% end %>
  </div>





      <%# ログインしていないと表示しない %>
      <% if user_signed_in? %>
  <div class='review-center'>
    <div class='review-push'>

      <div class='review-push-in'>
        レビュー投稿フォーム


        <%# もし、ログインユーザーのレビュー投稿が存在しなければ表示（replの値の有無がレビューとリプライの判定） %>
        <% if @mach_id == nil %>
            <%= form_for @review do |f| %>
              <%= f.hidden_field :page_id, value: @page.id %>
              <%= f.text_field :comment, class: "text-field" %>
              <%= f.submit '投稿', class: "submit-btn" %>
            <% end %>
        <% end %>


        <% @reviews.each do |b| %>
          <% if current_user.id == b.user_id && b.repl == nil %>
            <div class='review-text-in'>
              <div class='review-text-in'>
                <%= b.user.name %>
              </div>
              <div class='review-text-in'>
                <%= b.comment %>
              </div>
              <div class='review-text-in-time'>
                <%= b.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
              </div>
              <div class='review-text-in-delete'>
                <%# ここにユーザーのレビュー投稿を削除する記述をする %>
                <%= link_to '削除', page_path(@des_id.page_id), method: :delete %>
              <%# //ここにユーザーのレビュー投稿を削除する記述をする %>
              </div>

              <div class='review-ii-in'>
                <%# 泣アイコンの選択 %>
                <div class="buttons_<%= @food.id %>"><%= render partial: 'crs/cr' %></div>
                <%# ここに表示しているいいね機能を正常にカウントさせ、保持し、アップデートビューにてレビュー投稿表示側に値を表示させる %>
                <%#// 泣アイコンの選択 %>

                <%# かっこいいアイコンの選択 %>
                <div class="buttons_<%= @cool.id %>"><%= render partial: 'cools/cool' %></div>
                <%# ここに表示しているいいね機能を正常にカウントさせ、保持し、アップデートビューにてレビュー投稿表示側に値を表示させる %>
                <%#// かっこいいアイコンの選択 %>

                <%# 可愛いアイコンの選択 %>
                <div class="buttons_<%= @cute.id %>"><%= render partial: 'cutes/cute' %></div>
                <%# ここに表示しているいいね機能を正常にカウントさせ、保持し、アップデートビューにてレビュー投稿表示側に値を表示させる %>
                <%#// 可愛いアイコンの選択 %>


                <%# 怖いアイコンの選択 %>
                <div class="buttons_<%= @scared.id %>"><%= render partial: 'scareds/scared' %></div>
                <%# ここに表示しているいいね機能を正常にカウントさせ、保持し、アップデートビューにてレビュー投稿表示側に値を表示させる %>
                <%#// 怖いアイコンの選択 %>

                <%# 癒されるアイコンの選択 %>
                <div class="buttons_<%= @healing.id %>"><%= render partial: 'healings/healing' %></div>
                <%# ここに表示しているいいね機能を正常にカウントさせ、保持し、アップデートビューにてレビュー投稿表示側に値を表示させる %>
                <%#// 癒されるアイコンの選択 %>


                <%# 楽しいアイコンの選択 %>
                <div class="buttons_<%= @fun.id %>"><%= render partial: 'funs/fun' %></div>
                <%# ここに表示しているいいね機能を正常にカウントさせ、保持し、アップデートビューにてレビュー投稿表示側に値を表示させる %>
                <%#// 楽しいアイコンの選択 %>

                <%# 面白いアイコンの選択 %>
                <div class="buttons_<%= @interesting.id %>"><%= render partial: 'interestings/interesting' %></div>
                <%# ここに表示しているいいね機能を正常にカウントさせ、保持し、アップデートビューにてレビュー投稿表示側に値を表示させる %>
                <%#// 面白いアイコンの選択 %>

                <%# 考えさせられるアイコンの選択 %>
                <div class="buttons_<%= @thoughtprovoking.id %>"><%= render partial: 'thoughtprovokings/thoughtprovoking' %></div>
                <%# ここに表示しているいいね機能を正常にカウントさせ、保持し、アップデートビューにてレビュー投稿表示側に値を表示させる %>
                <%#// 考えさせられるアイコンの選択 %>



              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>


      <div class='review-push-in-no'>
        <a class="in-no" >ログインしてレビューを投稿しよう！</a>


        <%# もし、ログインユーザーのレビュー投稿が存在しなければ表示（replの値の有無がレビューとリプライの判定） %>




      </div>
    </div>




      <% end %>
      <%# //ログインしていないと表示しない %>
      </div>

    </div>
    <div class='review-data'>
      本作品のレビュー内容（review-data）
      <div class='review-data-in'>
        <%# <div class='review-data-user'> %>
          <% @reviews.each_with_index do |r,i| %>
            <p class='comment'>
 
              <%# リプ用カラムに値が無ければ表示（レビューと判断する） %>
              <% if r.repl == nil %>
              ＜レビュー＞
                <%#= link_to "#{r.user.name}：", "/users/#{r.user_id}" %>
                <%#= link_to comment.user.nickname, "/users/#{comment.user_id}" %>
                <%= "#{r.user.name}：" %>
                <%= r.comment %>
                <%= r.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
                
              <% if user_signed_in? %>
                <% if current_user.id != r.user_id %>
                  <%= link_to "返信", page_path(r.page.id, id: r.id), method: :put %>
                <% end %>
              <% end %>
            <%#= form_for @repl do |f| %>
              <%#= f.hidden_field :id, value: @repls.id %>
              <%#= f.hidden_field :page_id, value: @page.id %>
              <%#= f.submit '返信', class: "submit-btn" %>
            <%# end %>



              <%# users_path(group_id: 1, team_id: 2) %>
              
              <%# <th class="detail-item">出品者</th>
              <td class="detail-value"><%= @items.user.nickname %>

              <% end %>
          

             <%# レビュー投稿(r.id)とレビュー投稿(r.repl)が等しくて
             ログインユーザーidとレビュー投稿id（@reviews[1].user_id）が等しい時、
             投稿フォームを出さない。 %>


              <%# リプ用カラムに値が有れば表示（リプライと判断する） %>
              <% @reviews.each do |b| %>
                <% if b.repl != nil %>
                  <p class='repl-text'>
                  <% if b.repl == r.id %>
                      ＜返信＞
                      <%= "#{b.user.name}：" %>
                      <%= b.comment %>
                      <%# </p>
                      <p class='review-text-in-time'> %>
                        <%= b.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
                  <% end %>
                <% end %>
              <% end %>
            </p>

            <%# レビュー毎の線 %>
            <% if r.repl == nil %>
              <p class="waku"></p>
            <% end %>
            <%#// レビュー毎の線 %>

          <% end %>

      </div>
    </div>



  </div>
</div>
<%= render "shared/footer" %>