<%= render "shared/header" %>
<div class='main'>
  <div class='top'>
    <div class='title-text'><%= "#{@page.title}　レビュページ" %></div>
    <div class='title-text'><%= "レビュアーの：#{@page.title}のイメージ：　#{@page.title}　" %></div>
  </div>




  <div class='review-center'>
    <div class='review-push'>
      レビュー投稿（review-push）
      <div class='review-push-in'>
        レビュー投稿フォーム（review-push-in）


        <%= form_for @review do |f| %>
          <%= f.hidden_field :page_id, value: @page.id %>
          <%= f.text_field :comment, class: "text-field" %>
          <%= f.submit '投稿', class: "submit-btn" %>
        <% end %>


        <%= form_for @review_repl do |f| %>
          <%= f.hidden_field :page_id, value: @page.id %>
          <%= f.hidden_field :repl, value: @url %>
          <%= f.text_field :comment, class: "text-field" %>
          <%= f.submit '投稿', class: "submit-btn" %>
        <% end %>



      </div>
    </div>
    <div class='review-data'>
      本作品のレビュー内容（review-data）
      <div class='review-data-in'>
        <%# <div class='review-data-user'> %>
          <% @reviews.each_with_index do |r,i| %>
            <p class='comment'>
 
              <%# リプ用カラムに値が無ければ表示（レビューと判断する） %>
              <% if r.repl == nil %>
                <%= r.user.name %>
                <%= r.comment %>
                <%= r.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
                テスト
              <%= link_to "返信", page_path(r.page.id), method: :put %>

            <%#= form_for @repl do |f| %>
              <%#= f.hidden_field :id, value: @repls.id %>
              <%#= f.hidden_field :page_id, value: @page.id %>
              <%#= f.submit '返信', class: "submit-btn" %>
            <%# end %>


              <%# users_path(group_id: 1, team_id: 2) %>
              
              <%# <th class="detail-item">出品者</th>
              <td class="detail-value"><%= @items.user.nickname %>

              <% end %>
          

             <%# レビュー投稿(r.id)とレビュー投稿(r.repl)が等しくて
             ログインユーザーidとレビュー投稿id（@reviews[1].user_id）が等しい時、
             投稿フォームを出さない。 %>

              <%# リプ用カラムに値が有れば表示（リプライと判断する） %>
              <% @reviews.each do |b| %>
                <% if b.repl != nil %>
                  <p class='comment'>
                  <% if b.repl == r.id %>
                      <%= b.user.name %>
                      <%= b.comment %>
                      <%= b.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
                  <% end %>
                <% end %>
              <% end %>


            </p>
          <% end %>

      </div>
    </div>



  </div>
</div>
<%= render "shared/footer" %>